.App{
    /* text-align: center; */
}
.ui.container.header{
    justify-content: center;
}
.ui.form{
    /* max-width: 50rem; */
    margin: 0 auto;
}
.ui.celled.list{
    padding-top: 2rem;
}
.add-new-contact{
    margin: 1rem 0 !important;
}