.wrapper{
    width: 530px;
    margin: 0 auto;
    font-size: 10px;
}
.section-heading{
    border: 1px solid #6b7280;
    text-align: center;
    padding: 1px;
    margin-top: 10px;
    font-weight: bold;
}
.disclosure{
    padding: 10px 0;
}
.p-rt-15{
    padding-right: 15px;
}
.p-lt-15{
    padding-left: 15px;
}
.txt-right{
    text-align: right;
}
.txt-left{
    text-align: left;
}
.row{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cl-30{
    flex: 30%;
}
.cl-40{
    flex: 40%;
}
.cl-50{
    flex: 50%;
}
.cl-60{
    flex: 60%;
}
.cl-70{
    flex: 70%;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px; 
}
.font-bold{
    font-weight: bold;
}
.font-sm{
    font-size: 9px;
}
.border-top{
    padding-top: 5px;
    border-top: 1px dashed #000;
}